@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f8f8;
}

@media only screen and (max-width: 360px) {
  html, body {
    font-size: 12px;
  }
}

@media only screen and (min-width: 2000px) {
  html, body {
    font-size: 18px;
  }
}