@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f8f8;
}

@media only screen and (max-width: 360px) {
  html, body {
    font-size: 12px;
  }
}

@media only screen and (min-width: 2000px) {
  html, body {
    font-size: 18px;
  }
}

.layered-waves {
  position: absolute;
  left: 0;
  right: 0;
  top: -190px;
  height: 200px;
  background-image: url('/effects/layered-waves5.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -20;
}

@media only screen and (min-width: 2800px) {
  .layered-waves {
    background-size: cover;
  }
}
